{% extends "base.html" %}
{% load static %}

{% block page_content %}

<html>
<body>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- HTML BLOCK -->
<!-- Navbar -->
<div class="w3-top">
<h1 style="font-size:7vw">i n h</h1>
</div>
<!-- Title -->


<br />
<br />
<div id="set-height"></div>
<p id="time"></p>
<video id="v0" tabindex="0" autobuffer="autobuffer" preload="preload">
  <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;" src="{% static 'vid/video3.mp4' %}""></source>
  </video>


</html>

  <!-- CSS BLOCK -->
<style>
  #set-height {
    display: block;
  }
  #v0 {
    position: fixed;
    top: 100;
    left: 0;
    width: 100%;
  }
  p font-family helvetica {
    font-size: 24px;
  }
</style>



<!-- JS BLOCK -->

<script>
var frameNumber = 0, // start video at frame 0
    // lower numbers = faster playback
    playbackConst = 500,
    // get page height from video duration
    setHeight = document.getElementById("set-height"),
    // select video element
    vid = document.getElementById('v0');

// dynamically set the page height according to video length
vid.addEventListener('loadedmetadata', function() {
  setHeight.style.height = Math.floor(vid.duration) * playbackConst + "px";
});

// Use requestAnimationFrame for smooth playback
function scrollPlay(){
  var frameNumber  = window.pageYOffset/playbackConst;
  vid.currentTime  = frameNumber;
  window.requestAnimationFrame(scrollPlay);
}

window.requestAnimationFrame(scrollPlay);

</script>

{% endblock %}
