{% extends "base.html" %}
{% load static %}

{% block page_content %}


<div class="w3-main" style="margin-left:10px" id="projects">
<h1 style="font-size:3vw">Projects</h1>

  <div class="w3-row">
    <h1 style="font-size:2vw">Using MLRRRR to Model Blood Pressure</h1>
    <hr2/>
    <br />
    <div class="w3-twothird w3-container">
      <h1 style="font-size:2vw">Collaborators</h1>
      <p>Sara Colando<p>
      <h1 style="font-size:2vw">Descrption</h1>
      <p>As part of the Statistical Linear Model class I took in spring 2022, Sara and I used the NHANES dataset in R to model systemic blood pressure as a function of many variables. We compared models made using OLS to those with Ridge and Lasso penalties, as well as discussing variable selection, imputation, and finally touching on regression splines and kernal smoothing.<p>
        <h1 style="font-size:2vw">Link</h1>
      <a href="https://github.com/ST47S-LinMod/projD-ColandoHorsburgh">Here is the full project!</a>
        </div>

    <div class="w3-third w3-container">
      <img class="card-img-top" src="{% static 'img/graph4.png' %}" style="max-width: 25rem">
    </div>

  </div>

{% endblock %}
