{% extends "base.html" %}
{% load static %}

{% block page_content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: 'Helvetica', 'Arial', sans-serif;}
.mySlides {display: none}

.card-deck{
  display:flex;
  flex-direction:row
}
hr2 {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 1em;
    padding: 0;
}
</style>


<!-- Container element -->
<div class="parallax"></div>

<body style="background-color:FFFCF0; font-family: 'Helvetica', 'Arial', sans-serif; border: 10px solid while;">

  <!-- RESEARCH Section -->
  <!-- Caltech Work -->
  <div class="w3-main" style="margin-left:10px" id="research">
  <h1 style="font-size:3vw">Research Experience</h1>

    <div class="w3-row">
      <h1 style="font-size:2vw">Chou lab at Caltech</h1>
      <hr2/>
      <br />
      <div class="w3-twothird w3-container">

        <h1 style="font-size:2vw">Descrption</h1>
        <p>Last summer, I worked on drug development at the Chou Lab at Caltech. More specifically, I wrote python scripts to parse through DNA encoded library results as well as link molecules in Chemdraw and simulate the linked hybrids binding to our target protein. The picture to the left is the docked conformations of about 100 small molecule hybrids to our target protein. <p>
          <h1 style="font-size:2vw">Link</h1>
        <a href="https://github.com/ST47S-LinMod/projD-ColandoHorsburgh">Here is the full project!</a>
          </div>

      <div class="w3-third w3-container">
        <img class="card-img-top" src="{% static 'img/caltech2.png' %}" style="max-width: 25rem">
      </div>

    </div>


    <br />
    <br />
    <br />
    <br />


{% endblock %}
