{% extends "base.html" %}
{% load static %}

{% block page_content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: 'Helvetica', 'Arial', sans-serif;}
.mySlides {display: none}

.card-deck{
  display:flex;
  flex-direction:row
}
hr2 {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 1em;
    padding: 0;
}
</style>


<!-- Container element -->
<div class="parallax"></div>

<body style="font-family: 'Helvetica', 'Arial', sans-serif; border: 10px solid while;">

  <!-- Projects Section -->
  <!-- 158 project -->
  <div class="w3-main" style="margin-left:10px" id="projects">
<h1 style="font-size:5vw">Extracurricular Activities</h1>

    <div class="w3-row">
      <h1 style="font-size:4vw">Cross Country and Track</h1>

      <br />
      <div class="w3-twothird w3-container">

        <h1 style="font-size:3vw">Descrption</h1>
        <h1 style="font-size:2vw">I run Track and Cross Country for Pomona, and other than school, friends, and
          family, running is what takes up most of my time. I like to think that, while it's definetly a big time
          comitment, running complements school pretty well, offering a release from the tension that classes
          unfortunetly elicit at times.</h1>
        <h1 style="font-size:3vw">Honors</h1>
        <h1 style="font-size:2vw">2 x All SCIAC Cross Country (2021,2022)</h1>
        <h1 style="font-size:2vw">2022 NCAA All West Region</h1>
        <h1 style="font-size:2vw">2021 Division III Cross Country Team Champion</h1>
          </div>

      <div class="w3-third w3-container">
        <img class="card-img-top" src="{% static 'img/run.png' %}" style="max-width: 15rem; max-height: 55rem">
      </div>

    </div>





{% endblock %}
